.button {
    border: none;
    background-color: rgb(241, 114, 68);
    color: white;
    border-radius: 0.5rem;
    padding: 0.5rem 0.9rem 0.5rem 0.9rem;
    width: 100%;
    position: relative;
    margin-top: 2rem;
}

.form {
    padding-left: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.textLink {
    margin-top: 0.9rem;
    color: rgb(0, 81, 255);
    text-align: center;
}

.textLink:hover {
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .auth {
        background-color: rgb(30, 119, 235);
    }

    .imageContainer {
        display: none;
    }

    .form {
        padding-left: 2rem;
        width: 100%;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        background-color: white;
        padding: 0.7rem;
    }

   
}

@media screen and (min-width: 480px) {
    .mobileImage {
        display: none;
    }

    .auth {
        width: 850px;
        margin: 16px auto 0;
        position: relative;
        background-color: white;
        display: flex;
    }
}