.cartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.9rem;
    height: 20rem;
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, .1);
}

.addressType {
    background-color: #dedfe0;
    padding: 0.23rem;
    margin-left: 0.37rem;
    border-radius: 2px;
}

.placeOrder {
    background-color: white;
    z-index: 100;
    position: fixed;
    bottom: 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, .1);
    padding: 1rem;
    width: 57%;
}
@media (max-width:760px){
    .placeOrder{
        width: 100%;
        bottom: 0;
    }
    .placeOrder> Button{
        background-color: #e3b007;
    }
}
@media(min-width:760px){
    .placeOrder>Button{
        width: 15rem;
        padding: 0.9rem;
    }
    .placeOrder>span{
        color: white;
    }
}