.checkoutHeader{
    background-color:#2874f0;
    height: 3.8rem;
}
.checkoutBody{
    height: 100%;
    background-color: #f0f3f8;
}
.checkoutBody>div{
    display: flex;
    padding: 1rem 1.9rem 1rem 1.9rem;
    column-gap: 2rem;
}
.buyingProcess{
    width: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
   
}
.loginStep{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
     border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.09);
}
.addressStep{
    background-color: white;
    padding: 1.2rem;
     border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.09);
}
.loginStep1{
    background-color: #2874f0;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 1.2rem 0 1.2rem;
    
}
.number{
    background-color: #f0f3f8;
    color: #2874f0;
    font-weight: bold;
    height:fit-content;
    width: 1.2rem;
    text-align: center;
    margin-right: 0.5rem;
}
.loginStep2{
    display: flex;
    padding: 0 2rem 0 2rem;
    justify-content: space-between;
}
.desc{
    padding: 0.7rem 2rem 0 2rem;
}
.mappedAddress{
    padding: 1.2rem;
    border-bottom: 2px solid #c1c7c9;
    width: 67vw;
    display: flex;
    justify-content: space-between;
}

.priceDetails{
    background-color: white;
     border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.09);
    height: fit-content;
    width: 30%;
}

@media(max-width: 768px){
    .checkoutBody>div{
        flex-direction: column;
        row-gap: 1rem;
        padding: 1rem 0 1rem 0;
    }
    .buyingProcess{
        width: 100%;
    }
    .loginStep{
        padding: 0.5rem;
    }
    .desc{
        font-size: 0.6rem;
        padding: 0.3rem;
    }
    .loginStep2{
        flex-direction: column;
        padding: 0;
    }
    .aboutLogin{
        display: none;
    }
    .mappedAddress{
        width: 24.7rem;
    }
    .priceDetails{
        width: 100%;
    }
}