.clientSidebar {
    width: 30%;
    background-color: rgb(236, 240, 243);
    padding: 0.9rem 0.9rem 0.9rem 2rem;
}

.mobile-toggle-btn {
    display: none;
    padding: 1rem;
}

.close-btn {
    display: none;
    padding: 0.4rem;
    text-align: right;
}

@media (max-width: 768px) {
    .clientSidebar {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        width: 80%;
        max-width: 320px;
        z-index: 999;
        background-color: rgb(236, 245, 248);
        transition: left 0.3s ease-in-out;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        padding: 0.3rem;
    }

    .clientSidebar.open {
        left: 0;
    }

    .mobile-toggle-btn {
        display: block;
        position: absolute;
        top: 0.1rem;
        left: 0.2rem;
        z-index: 1000;
        color: white;
    }

    .close-btn {
        display: block;
    }
   .clientContainer{
    margin-top: -1rem;
   }
    
}


.clientContainer {
    height: 100vh;
}

.profile {
    height: 4.2rem;
    margin: 0.7rem;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 0.2rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
}

.profileManagement {
    background-color: white;
    margin: 0.7rem;
    border-radius: 0.2rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
}

.profileManagement>div {
    border-bottom: 1.5px solid rgb(185, 190, 192);
}

.accountSettings>p:hover {
    background-color: rgb(235, 240, 243);
    cursor: pointer;
    color: rgb(5, 101, 190);
}

.accountSettings>p {
    padding: 0.7rem 2rem 0.7rem 2rem;
    font-weight: 500;
    font-size: 0.9rem;
}

.icon-div {
    display: flex;
    padding: 0.9rem
}

.icon-tag {
    opacity: 0.7;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    font-size: 1rem;
}

.order:hover {
    color: rgb(5, 101, 190);
    opacity: 1;
    cursor: pointer;
    font-weight: bolder;
}
