.navigation {
  cursor: pointer;
  color: #898989;
  font-size: 0.8rem;
}

.navigation:hover {
  color: rgb(0, 149, 255);
}

.progress-point {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  border-color: #dddddf;
  background-color: rgb(252, 249, 249);
  transition: background-color 0.3s, border-color 0.3s;
}

.progress-point.filled {
  background-color: #e9ebeb;
}

.elipse2 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 3rem;
  font-size: 0.94rem;
}

.row {
  display: flex;
}

@media (min-width:480px) {
  .col>div {
    width: 90%;
  }
  .ListProductContainer{
    padding:1rem 1.5rem 1rem  1.5rem;
  }
  .prodImage{
    width: 100%;
    object-fit: contain;
  }
}

@media (max-width:480px) {
  .row {
    flex-direction: row;
  }
  .row .col:nth-child(odd) {
  border-right: 1px solid #ccc;
}

  .col {
    width: 50%;
  }
  .prodImage{
    width: 10rem;
    object-fit: cover;
  }
}