.productContainer {
    display: flex;
    column-gap: 1.6rem;
    padding-left: 1rem;
    height: 100vh;
}

.leftSideImage {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.imageMappedDiv {
    position: relative;
    flex: 0 0 auto;
    width: 5rem;
    height: 7rem;
    min-width: 7rem;
    max-width: 7rem;
    border-radius: 2px;
    padding: 0.3rem;
    overflow: hidden;
}

.buttonDiv {
    padding: 1rem;
    margin-left: 6.3rem;
    width: 100%;
}

.insideLeft1 {
    display: flex;
    height: 27rem;
}


@media (min-width:720px) {
    .left {
        width: 39%;
        position: sticky;
        bottom: 0;
        top: 4.5rem;
        align-self: flex-start;
    }

    .mainImage {
        display: none;
    }

    .mainImage1 {
        border: 1px solid #e4e6eb;
        border-radius: 2px;
        padding: 0.78rem;
    }

}

@media(max-width:720px) {
    .left {
        width: 100%;
        height: 33rem;
    }

    .buttonDiv {
        background-color: white;
        z-index: 100;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        border-radius: 2px;
        padding: 1rem;
        margin-left: 0;
    }

    .productContainer {
        flex-direction: column;
    }

    .imageMappedDiv {
        width: 10rem;
    }

    .insideLeft1 {
        flex-direction: column;
        height: 100%;
    }

    .leftSideImage {
        width: 100%;
        overflow-x: auto;
        
        display: flex;
        flex-direction: row;
        height: 5rem;
    }

    .imageMappedDiv {
        flex: 0 0 auto;
        width: 5rem;
        height: 5rem;
    }

    .mainImage {
        border: 1px solid #e4e6eb;
        border-radius: 2px;
        padding: 0.98rem;
    }

    .mainImage1 {
        display: none;
    }

}