.edit:hover{
    cursor: pointer;
}
.edit{
    color: rgb(0, 68, 255);
    font-size: 0.9rem;
}
.address{
    border: 1px solid gainsboro;
    padding: 1rem;
    display: flex;
    align-content: center;
    background-color: rgb(239, 244, 247);
}
.address > div>span:hover{
    cursor: pointer;
}
.name-label{
    width:100%;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: top left;
    font-size: 12px;
    transition: transform .2s ease;
    padding: 2px 0 0 15px;
    color:gray
}
.name-input{
    height: 40px;
    width: 100%;
    font-size: 12px;
    border: 1px solid gainsboro;
    outline: 0 none;
    border-radius: 2px;
    padding: 14px 0 0 15px;
}
.name-input:focus~.name-label{
    transform: translateY(-15%) scale(.815);
    padding: 5px 0 0 15px;
}
.name-input:focus{
    border:1px solid rgb(0, 132, 255)
}
.addressType{
    font-size: 0.8rem;
    color: gray;
    border: 1px solid gainsboro;
    height: 1.5rem;
    width: 2.5rem;
    padding: 0.1rem;
    background-color: rgb(239, 244, 247);
    font-weight: 500;
}
.addressEdit{
    border-radius: 3px;
    height: 4rem;
    width: 3.5rem;
    padding-left: 8px;
    padding-top: 8px;
    font-size: 0.7rem;
     box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid rgba(0, 0, 0, .05);
    z-index: 1;
}
.addressEdit>p:hover{
    cursor: pointer;
    color: rgb(0, 132, 255);
    font-weight: 600;
}
